<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="<%= isAuthenticated ? '/dashboard' : '/' %>">SimplonVOT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <% if( isAuthenticated ) { %>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/creer-un-sujet" data-toggle="modal" data-target="#exampleModal">Créer un sujet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/dashboard' ? 'bg-dark text-white' : '' %>" href="/dashboard">Tous</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/dashboard/created' ? 'bg-dark text-white' : '' %>"
                        href="/dashboard/created">Mes créations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/dashboard/enrolled' ? 'bg-dark text-white' : '' %>"
                        href="/dashboard/enrolled">Participations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/dashboard/inprogress' ? 'bg-dark text-white' : '' %>"
                        href="/dashboard/inprogress">En cours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/dashboard/finished' ? 'bg-dark text-white' : '' %>"
                        href="/dashboard/finished">Terminées</a>
                </li>
            </ul>
            <% } %>

            <ul class="navbar-nav ml-auto">
                <% if( isAuthenticated ) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><%= currentUser %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Deconnexion</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Inscription</a>
                    </li>
                <% } %>
            </ul>

        </div>
    </nav>
</header>