<% include ../includes/head %>
</head>

<body>
    <% include ../includes/navigation %>
    <main>
        <% include ../includes/messageFlash %>
        <div class="jumbotron">
            <div class="text-center">
                <h3 class="text-danger"><%= vote.subject %></h3>
                <p class="text-muted"><%= vote.nbVote %> / <%= vote.quota %> votes </p>
            </div>
            <% if (alreadyVoted == 0) { %>
            <h5 class="mt-5 text-center"> Votre vote a été pris en compte ! <br> Le résultat sera bientôt disponible !</h5>
            <% } else { %>
            <form class="form text-center mt-5" action="/dashboard/vote/choice" method="POST">
                <input type="hidden" name="userId" value="<%= locals.currentUserId %>">
                <input type="hidden" name="voteId" value="<%= vote._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="form-group">
                    <% vote.choices.forEach(choice =>{ %>
                    <div>
                        <input type="radio" name="choice" value="<%= vote.choices.indexOf(choice) %>">
                        <label><%= choice %></label>
                    </div>
                    <% }) %>
                </div>
                <button type="submit" class="btn btn-primary w-25">Voter</button>
            </form>
            <% } %>
        </div>
    </main>
    <% include ../includes/footer %>
    <% include ../includes/modals %>
    <script src="/js/script.js"></script>
</body>

</html>