<% include ../includes/head %>
</head>

<body>
    <% include ../includes/navigation %>
    <main class="container p-5">
        <div id="detail" class="py-5 my-5">
            <div class="text-center detail__subject py-2 mx-5">
                <h5 class="detailTitre"><%= vote.subject %></h5>
            </div>
            <% if (alreadyVoted == 0) { %>
            <h5 class="mt-5 py-5 text-center"> Votre vote a été pris en compte ! <br> Le résultat sera bientôt disponible !</h5>
            <% } else { %>
            <form class="form text-center mt-5" action="/dashboard/vote/choice" method="POST">
                <input type="hidden" name="userId" value="<%= locals.currentUserId %>">
                <input type="hidden" name="voteId" value="<%= vote._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="form-group">
                    <% vote.choices.forEach(choice =>{ %>
                    <div>
                        <input type="radio" name="choice" value="<%= vote.choices.indexOf(choice) %>">
                        <label><%= choice %></label>
                    </div>
                    <% }) %>
                </div>
                <button type="submit" class="btn btnVote mt-5">Voter</button>
            </form>
            <% } %>
        </div>
    </main>
    <% include ../includes/footer %>
    <% include ../includes/modals %>
    <script src="/js/script.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/realtime.js"></script>
</body>

</html>