<% include ../includes/head %>
</head>

<body>
    <% include ../includes/navigation %>
    <main class="container-fluid">
        <% include ../includes/messageFlash %>
        <% if(votes.length == 0) { %>
        <div class="d-flex justify-content-center w-100">
            <h5 class="alert alert-info my-5"> Vous n'avez pas encore participer à un sujet de vote !</h5>
        </div>
        <% } else { %>

        <div class="row no-gutters justify-content-center align-items-center py-5">
            <% votes.forEach(function(items) { %>
            <div class="col-12 col-md-5 col-lg-3 m-3">
                <div class="card">
                    <div class="card-body">
                        <p class="text-center"><b><%= items.vote.subject %></b> <br>
                            <small>
                                Créer par
                                <% if (items.vote.createdBy != null) { %>
                                <%= items.vote.createdBy.login %>
                                <% } %>
                            </small>
                        </p>
                    </div>
                </div>

                <div class="card-footer">
                    <% if (items.vote.status == 'inprogress') { %>
                        <div class="d-flex justify-content-center">
                            <a class="text-center btn w-100 py-0 inprogressBar" href="/dashboard/vote/<%= items.vote._id %>"> Voter </a>
                        </div>
                    <% } else if (items.vote.status == 'finished') { %>
                        <div class="d-flex justify-content-center">
                            <a href="/dashboard/result/<%= items.vote._id %>" class="btn w-50 py-0 resultBtn">Voir le résultat</a>
                        </div>
                    <% } else { %> 
                    <div class="progress">
                        <% var vot = items.vote.participants.length / items.vote.quota*100 %>
                        <div class="progress-bar waitingBar" role="progressbar" style="width: <%= vot %>%;" aria-valuenow="<%= vot %>"
                            aria-valuemin="0" aria-valuemax="100"> <%= items.vote.participants.length %> / <%= items.vote.quota %> Participants 
                        </div>
                    </div>
                    <% } %>
                </div>
               </div>
            </div>
            <% }); %>
        <% } %>
    </main>

    <% include ../includes/pagination , {
                currentPage: currentPage, 
                nextPage: nextPage, 
                previousPage: previousPage, 
                lastPage: lastPage, 
                hasNextPage: hasNextPage,
                hasPreviousPage: hasPreviousPage
            }) %>

    <% include ../includes/footer %>
    <% include ../includes/modals %>
    <script src="/js/script.js"></script>
</body>

</html>