<% include ../includes/head %>
</head>

<body>
    <% include ../includes/navigation %>
    <main>
        <% if(votes.length == 0) { %>
        <div class="d-flex justify-content-center w-100">
            <h5 class="alert alert-info my-5"> Désolé, il n'y a pas de sujet de vote en cours !</h5>
        </div>
        <% } else { %>
        <div class="row">
            <% votes.forEach(function(vote) { %>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <p class="text-center"><b><%= vote.subject %></b> <br />
                            <small>By
                                <% if (vote.createdBy != null) { %>
                                <%= vote.createdBy.login %><br>
                                Statut : <%= vote.status %>
                                <% } %>
                            </small>
                        </p>
                        <div class="d-flex flex-column align-items-center w-100">
                            <p class="text-right"> <%= vote.participants.length %> / <%= vote.quota %>
                                Participants </p>
                            <% if (vote.status == 'inprogress') { %>
                            <a class="text-center btn btn-outline-secondary w-25 mb-3" href="#"> Voter </a>
                            <% } %>
                        </div>
                        <div class="progress">
                            <% var vot = vote.nbVote/vote.quota*100 %>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: <%= vot %>%;"
                                aria-valuenow="<%= vot %>" aria-valuemin="0" aria-valuemax="100"> <%=  Math.round(vot) %>%</div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <% }); %>
        <% } %>
        </div>
    </main>
    <% include ../includes/footer %>
    <% include ../includes/modals %>
    <script src="/js/script.js"></script>
</body>

</html>