<% include ../includes/head %>
</head>

<body>
    <% include ../includes/navigation %>
    <main>
        <% include ../includes/messageFlash %>
        <% if(votes.length == 0) { %>
        <div class="d-flex justify-content-center w-100">
            <h5 class="alert alert-info my-5"> Désolé, il n'y a pas de sujet de vote en cours !</h5>
        </div>
        <% } else { %>
        <div class="row no-gutters justify-content-center align-items-center py-5">
            <% votes.forEach(function(vote) { %>
            <div class="col-12 col-md-5 col-lg-3 m-3">
                <div class="card">
                    <div class="card-body">
                      <% if (vote.createdBy._id == currentUserId) { %>
                            <p class="text-center">
                                <b><%= vote.subject %></b>
                                <br>
                                <small>
                                    Créer par moi <br>
                                </small>
                            </p>
                        <% } else { %>
                            <p class="text-center">
                                <b><%= vote.subject %></b><br>
                                <small>
                                    Créer par
                                    <% if (vote.createdBy != null) { %>
                                        <%= vote.createdBy.login %> <br> 
                                    <% } %>
                                </small>
                            </p>
                        <% } %>
                    </div>

                    <div class="card-footer">
                    <% if (vote.createdBy._id == currentUserId) { %>
                        <div class="progress">
                            <% var vot = vote.participants.length/vote.quota*100 %>
                            <div class="progress-bar inprogressBar" role="progressbar" style="width: <%= vot %>%;" aria-valuenow="<%= vot %>" aria-valuemin="0" aria-valuemax="100"> 
                                <%= vote.participants.length %> / <%= vote.quota %> Participants
                            </div>
                        </div>
                    <% } else { %>
                        <div class="d-flex justify-content-center">
                            <a class="text-center btn w-100 py-0 inprogressBar" href="/dashboard/vote/<%= vote._id %>"> Voter </a>
                        </div>
                    <% } %>
                    </div>
                </div>
            </div>
            <% }); %>
        <% } %>
        </div>
    </main>
    <% include ../includes/footer %>
    <% include ../includes/modals %>
    <script src="/js/script.js"></script>
</body>

</html>